@import 'https://fonts.googleapis.com/css?family=Creepster';
body{
 background-color:#ff8100;
 border:black;
 border-width: 20px;
}

h1 {
  font-family: Creepster;
  text-allign: center;

}

#page{
  width:
}

#textywexty {
  border-style: solid;
  background-image: url("http://f.tqn.com/y/rubberstamping/1/S/m/e/-/-/pumpkin.png");
  background-size: 300px;
  margin: auto;
  width: 20%;
  border: 3px;
  padding: 8px;
  height:300px;
  text-align:center;
  
}

#listywisty {
  margin: auto;
  width: 20%;
  border: 3px;
  padding: 20px;
  background-color: ;
}

#misty {
  margin: auto;
  width: 23%;
  border: 3px;
  padding: 7px;
}
#pumkin{
  width:100px;
  height:100px;
}

li {
  font-family: Creepster;
  font-size:25px;
}

input[type="text"] {
    cursor: text;
}

/*how to change the text field when focused/active*/
/* input[type="text"]:focus {
  border: 4px solid red;  
} */

#spok:hover {
  cursor: pointer;
}